In [ ]:
# Import Matplot lib
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [94]:
import pandas as pd

In [95]:
# Import SQLAlchemy `automap` and other dependencies here
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [96]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:postgres@localhost:5432/employee_db')
connection = engine.connect()

In [97]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['titles', 'salaries', 'dept_manager', 'dept_emp', 'employees', 'departments']

In [98]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('salaries')
for c in salaries:
    print(c['name'], c["type"])

emp_no INTEGER
salary INTEGER

In [99]:
# Use `engine.execute` to select and display the first 10 rows from the emoji table
engine.execute('SELECT * FROM salaries ORDER BY salary DESC LIMIT 10').fetchall()

[(205000, 129492),
 (44188, 127238),
 (444756, 127041),
 (458302, 126703),
 (37558, 125469),
 (296857, 124357),
 (20004, 123749),
 (109334, 123668),
 (474456, 123477),
 (474684, 122726)]

In [100]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)

In [101]:
Salaries1 = Base.classes.salaries

AttributeError: salaries

In [90]:
session = Session(engine)

In [102]:
results = session.query(salaries.emp_no, salaries.salary)
results = results.limit(10)
for row in results:
    print(row)

AttributeError: 'list' object has no attribute 'emp_no'